<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${nameOfPage}"></title>
  <link rel="stylesheet" th:href="@{/style/css/style.css}">
</head>
  <body>
    <div class="wrapper wrapper-background">
      <div th:insert="~{/elements/header :: header_full}"></div>
      <main class="main">
        <div class="main__container container">
          <div class="main__content content">
            <form class="products-form" method="get" th:action="@{/product/find}">
              <input th:value="*{find_content}" class="product-fields" placeholder="Search..." name="name" type="text">
              <button class="product-button" type="submit">Search</button>
            </form>
            <a th:if="${genderClothesIsEquals != true}" class="product-button product-button-link" th:href="@{/gender}">Choose clothes for gender</a>
            <h5 class="not-found" th:if="${find_content != null && all_products.size() == 0}">Not found</h5>
            <div class="main__items">
              <div class="main__item item" th:each="product: ${all_products}">
                <img class="item__img" th:src="@{/product/images/{id}(id=${product.previewsId})}" alt="Error image">
                <div class="header__item">
                  <h4 class="item__discount" th:if="${product.discount != 0}" th:text="${product.discount} + '%'"></h4>
                  <h4 class="item__ends" th:if="${product.numberProduct <= 10 && product.numberProduct != 0}">ends</h4>
                  <h4 class="item__ends" th:if="${product.numberProduct == 0}">ended</h4>
                </div>
                <div class="footer__item">
                  <div class="footer__white">
                    <a th:href="@{/product/{id}(id=${product.id})}" class="item__title" th:text="${product.name}"></a>
                    <div class="item-footer__row">
                      <div class="footer__price">
                        <h3 class="new-price" th:text="${product.priceAfterDiscount()} + '$'"></h3>
                        <h3 class="old-price" th:if="${product.discount != 0}" th:text="${product.price} + '$'"></h3>
                      </div>
                      <div class="footer__size"><th:block th:each="size: ${product.sizes}" th:text="${size} + ' '"/></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div th:insert="~{/elements/footer :: footer}"></div>
    </div>
  </body>
<script th:src="@{/script/script.js}"></script>
</html>