<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${nameOfPage}"></title>
  <link rel="stylesheet" th:href="@{/style/css/style.css}">
</head>
  <body>
    <div class="wrapper">
      <div th:insert="~{/elements/header :: header_full}"></div>
      <main class="main">
        <div class="main__container container">
          <div class="main__content content">
            <div class="main__items">
              <div class="main__item item" th:each="product: ${all_products}">
                <img class="item__img" th:src="@{/product/images/{id}(id=${product.previewsId})}" alt="Error image">
                <div class="header__item">
                  <h4 class="item__discount" th:if="${product.discount != 0}" th:text="${product.discount} + '%'"></h4>
                  <h4 class="item__ends" th:if="${product.numberProduct <= 10}">ends</h4>
                </div>
                <div class="footer__item">
                  <form th:if="${principal != null}" th:action="@{/product/{id}/liked_product(id=${product.id})}" class="item__form" method="post">
                    <button type="submit" class="item__heart">
                      <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.111 13.0547C25.7366 17.8897 19.3844 24.4653 15.7922 27.968C15.406 28.3372 14.8187 28.3372 14.4325 27.968C10.8201 24.4653 4.46787 17.8897 2.0934 13.0547C-3.1223 2.41772 10.0286 -4.67363 15.1022 5.96339C20.1759 -4.67363 33.3268 2.41772 28.111 13.0547Z" fill="black"/>
                      </svg>
                    </button>
                  </form>
                  <div class="footer__white">
                    <a th:href="@{/product/{id}(id=${product.id})}" class="item__title" th:text="${product.name}"></a>
                    <div class="item-footer__row">
                      <div class="footer__price">
                        <h3 class="new-price" th:text="${product.price - (product.price * product.discount / 100)} + '$'"></h3>
                        <h3 class="old-price" th:if="${product.discount != 0}" th:text="${product.price} + '$'"></h3>
                      </div>
                      <div class="footer__size"><th:block th:each="size: ${product.sizes}" th:text="${size} + ' '"/></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div th:insert="~{/elements/footer :: footer}"></div>
    </div>
  </body>
<script th:src="@{/script/script.js}"></script>
</html>