<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<form th:method="patch" th:action="@{/product/{id}(id=${product.id})}" th:object="${product}">
    <label><input type="text" th:field="${product.name}" placeholder="Name"></label>
    <label><input type="text" th:field="${product.price}" placeholder="Price"></label>
    <label><input type="text" th:field="${product.discount}" placeholder="Discount"></label>
    <label><input type="text" th:field="${product.numberProduct}" placeholder="Number product"></label>
    <label>
        <select th:field="*{theme.id}">
            <option th:each="theme: ${themes}" th:value="${theme.id}" th:text="${theme.name}"></option>
        </select>
    </label>
    <label>
        <select th:field="*{category.id}">
            <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
    </label>
    <label>
        <select th:field="*{season.id}">
            <option th:each="season: ${seasons}" th:value="${season.id}" th:text="${season.name}"></option>
        </select>
    </label>
    <select th:field="${product.color}">
        <option th:each="color : ${T(com.example.GeekShop.model.Color).values()}" th:value="${color}" th:text="${color}"></option>
    </select>
    <label>
        <input type="radio" name="size1" th:value="${T(com.example.GeekShop.model.SizeOfProduct).L}" th:text="L">
    </label>
    <label>
        <input type="radio" name="size2" th:value="${T(com.example.GeekShop.model.SizeOfProduct).M}" th:text="M">
    </label>
    <label>
        <input type="radio" name="size3" th:value="${T(com.example.GeekShop.model.SizeOfProduct).S}" th:text="S">
    </label>
    <label>
        <input type="radio" name="size4" th:value="${T(com.example.GeekShop.model.SizeOfProduct).XL}" th:text="XL">
    </label>
    <label>
        <input type="radio" name="size5" th:value="${T(com.example.GeekShop.model.SizeOfProduct).XXL}" th:text="XXL">
    </label>
    <button type="submit">New product</button>
</form>
<form th:method="delete" th:action="@{/product/{id}(id=${product.id})}">
    <button type="submit">Delete product</button>
</form>
</body>
</html>