<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
    <body>
        <ul>
            <li th:each="element: ${elements}">
                <img th:src="@{/{url}/images/{id}(url=${url}, id=${element.previewsId})}" alt="Error img">
                <a th:href="@{/{url}/{id}(url=${url}, id=${element.id})}" th:text="${element.name}"></a>
                <a th:href="@{/{url}/{id}/edit(url=${url}, id=${element.id})}">Edit</a>
                <a th:href="@{/{url}/{id}/change_photo(url=${url}, id=${element.id})}">Change photo</a>
                <form th:method="delete" th:action="@{/{url}/{id}(url=${url}, id=${element.id})}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        </ul>
    </body>
</html>