<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders for admin</title>
    <link rel="stylesheet" th:href="@{/style/css/style.css}">
</head>
<body>
<div class="wrapper wrapper-background">
    <div th:insert="~{/elements/header :: header_only_navbar}"></div>
    <main class="main">
        <div class="main__container container">
            <div class="main__content content">
                <div class="selected-order">
                    <h4 class="selected-order__date" th:text="${order.dateOfCreate}"></h4>
                    <h4 class="selected-order__user"  th:text="${order.user.fullName}"></h4>
                    <h4 class="selected-order__status" th:text="'Code: ' + ${order.codeOfOrder}"></h4>
                    <h4 class="selected-order__status" th:if="${order.codeOfInvoice != null}" th:text="'Code for mail: ' + ${order.codeOfInvoice}"></h4>
                    <h4 class="selected-order__status" th:text="'Recipient: ' + ${order.firstnameOfRecipient + ' ' + order.lastnameOfRecipient + ' ' + order.surnameOfRecipient}"></h4>
                    <h4 class="selected-order__status" th:text="'Status: ' + ${order.statusOfOrder}"></h4>
                    <h4 class="selected-order__status" th:text="'Confirmed: ' + ${order.isVerify}"></h4>
                    <h4 class="selected-order__status" th:text="'Type of post office: ' + ${order.typePostOffice.getDisplayValue()}"></h4>
                    <h4 class="selected-order__status" th:text="'Region: ' + ${order.regionOfCountry.getDisplayValue()}"></h4>
                    <h4 class="selected-order__status" th:text="'City: ' + ${order.city}"></h4>
                    <h4 class="selected-order__status" th:text="'Number of post office: ' + ${order.numberOfPostOffice}"></h4>
                    <h4 class="selected-order__status" th:text="'Number of phone: ' + ${order.numberOfPhone}"></h4>
                    <ul class="selected-order__products" th:each="product: ${order.getProductsOfOrders()}">
                        <li class="selected-order__product">
                            <a class="selected-order__link selected-order__text" th:href="@{/product/{id}(id=${product.product.id})}" th:text="${product.product.name}"></a>
                            <h4 class="selected-order__text" th:text="${product.product.priceAfterDiscount()} + '$'"></h4>
                            <h4 class="selected-order__text" th:text="${product.product.discount} + '%'"></h4>
                            <h4 class="selected-order__text" th:text="${product.numberProduct}"></h4>
                            <h4 class="selected-order__text" th:text="${product.size}"></h4>
                        </li>
                    </ul>
                    <form style="margin-bottom: 10px;" th:if="${order.isVerify == false}" class="selected-order__form" th:action="@{/order/{id}/is_verify(id=${order.id})}" th:method="patch">
                        <button class="selected-order__change-status" type="submit">Set a verify status</button>
                    </form>
                    <form style="margin-bottom: 10px;" th:if="${order.codeOfInvoice == null && order.isVerify == true}" class="selected-order__form" th:action="@{/order/{id}/set_code(id=${order.id})}" th:method="patch">
                        <input name="code_of_mail" class="selected-order__list" type="number">
                        <button class="selected-order__change-status" type="submit">Set code</button>
                    </form>
                    <form th:if="${order.statusOfOrder.name() != 'Completed'}" class="selected-order__form" th:action="@{/order/{id}/change_status(id=${order.id})}" th:method="patch">
                        <select name="status" class="selected-order__list">
                            <option th:value="${order.statusOfOrder}" th:text="${order.statusOfOrder}"></option>
                            <option th:each="status: ${T(com.example.GeekShop.model.order.StatusOfOrder).values()}"
                                    th:if="${order.statusOfOrder != status.name()}"
                                    class="selected-order__option"
                                    th:value="${status}"
                                    th:text="${status.name()}"></option>
                        </select>
                        <button class="selected-order__change-status" type="submit">Change the status</button>
                    </form>
                    <div class="selected-order__total-bill" th:text="'Price of order: ' + ${order.priceOfOrder} + '$'"></div>
                </div>
            </div>
        </div>
    </main>
    <div th:insert="~{/elements/footer :: footer}"></div>
</div>
</body>
<script th:src="@{/script/script.js}"></script>
</html>