.form-row {
  margin-top: 10px;
}
.form-settings {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 15px;
  padding: 20px;
  display: none;
  &__titles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    @media (max-width: 678px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 4px;
    }
  }
  &__title {
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition-duration: .3s;
    padding: 20px 0px;
    background-color: #000000;
    &:hover {
      transition-duration: .3s;
      background-color: #ff0024;
    }
    &:active {
      transition-duration: .1s;
      background-color: #ffffff;
      color: #000000;
    }
  }
  &__title._selected {
    transition-duration: .3s;
    padding: 25px 0px;
    background-color: #ff0024;

    &:hover {
      background-color: #000000;
    }
    &:active {
      background-color: #ffffff;
      color: #000000;
    }
  }
  &__field {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    transition-duration: .3s;
    &:focus {
      transition-duration: .3s;
      box-shadow: 0px 0px 10px 1px #ff0024;
    }
  }
  &__requirement {
    color: #ff0024;
  }
  &__button {
    margin-top: 20px;
    height: 40px;
    background-color: #ff0024;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 15px;
    transition-duration: .3s;
    &:nth-child(1) {
      margin: 0px;
    }
    &:hover {
      transition-duration: .3s;
      background-color: #000000;
      outline: 1px solid #ffffff;
    }
    &:active {
      background-color: #ffffff;
      color: #000000;
    }
  }
}
.form-settings._show {
  display: flex;
}
