<!DOCTYPE html>
<html lang="en">
<body>
    <footer class="footer">
        <h3 class="footer__line">白、黒 赤があり、残りは派生色です。</h3>
        <div class="footer__bottom">
            <div class="footer__container container">
                <div class="footer__content content">
                    <div class="footer__row">
                        <div class="footer__social social">
                            <h2 class="social__title">Social links</h2>
                            <ul class="social__items">
                                <li class="social-item">
                                    <a th:href="@{/}" class="social-link">
                                        <img th:src="@{/img/instagram.svg}" alt="">
                                    </a>
                                </li>
                                <li class="social-item">
                                    <a th:href="@{/}" class="social-link">
                                        <img th:src="@{/img/facebook.svg}" alt="">
                                    </a>
                                </li>
                                <li class="social-item">
                                    <a th:href="@{/}" class="social-link">
                                        <img th:src="@{/img/twitter.svg}" alt="">
                                    </a>
                                </li>
                                <li class="social-item">
                                    <a th:href="@{/}" class="social-link">
                                        <img th:src="@{/img/youtube.svg}" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer__left-row">
                            <div class="footer__links links">
                                <h3 class="links-title">Links of site</h3>
                                <ul class="links-list">
                                    <li class="links-item">
                                        <a th:href="@{/}" class="links-link">About us</a>
                                    </li>
                                    <li class="links-item">
                                        <a th:href="@{/product}" class="links-link">Products</a>
                                    </li>
                                    <li class="links-item">
                                        <a th:href="@{/category}" class="links-link">Categories</a>
                                    </li>
                                    <li class="links-item">
                                        <a th:href="@{/theme}" class="links-link">Themes</a>
                                    </li>
                                    <li class="links-item">
                                        <a th:href="@{/season}" class="links-link">Seasons</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__contacts">
                                <h3 class="contacts-title">Contacts</h3>
                                <ul class="contacts-list">
                                    <li class="contacts-item">
                                        <h2 class="contacts-link">Email: testEmail@gmail.com</h2>
                                    </li>
                                    <li class="contacts-item">
                                        <h2 class="contacts-link">Phone: +380XXXXXXXXX</h2>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>