<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Messages of ' + ${user.fullName}"></title>
    <link rel="stylesheet" th:href="@{/style/css/style.css}">
</head>
<body>
    <div class="wrapper wrapper-background">
        <div th:insert="~{/elements/header :: header_full}"></div>
        <main class="main">
            <div class="main__container container">
                <div class="main__content content">
                    <a th:href="@{/message/new}">Create a new message</a>
                    <ul class="admin__messages messages">
                        <li class="messages__item messages-item" th:each="message: ${messages}">
                            <h3 class="messages-item__title" th:text="${message.title}"></h3>
                            <p class="messages-item__text" th:text="${message.text}">
                            </p>
                            <h3 class="messages-item__status" th:text="'Type: ' + ${message.typeOfMessage}"></h3>
                            <br>
                            <p th:if="${message.adminAnswer != null}" class="messages-item__text" th:text="'Answer of admin: ' + ${message.adminAnswer}">
                            <form class="messages-item__form"  th:action="@{/message/{id}(id=${message.id})}" th:method="delete">
                                <button class="messages-item__button" type="submit">Delete message</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div th:insert="~{/elements/footer :: footer}"></div>
    </div>
</body>
    <script th:src="@{/script/script.js}"></script>
</html>