<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All messages by user</title>
</head>
  <body>
    <ul>
        <a th:href="@{/message/new}">Ask new question</a>
        <li th:each="message: ${messages}">
            <h3 th:text="${message.title}"></h3>
            <h4 th:text="${message.typeOfMessage}"></h4>
            <p th:text="${message.text}"></p>
            <p style="color: #ff0024" th:if="${message.adminAnswer != null}" th:text="${message.adminAnswer}"></p>
        </li>
    </ul>
  </body>
</html>